.lg2__carousel--wrapper {
  height: 50vh;
  max-width: 100%;
}
.lg2__category {
  width: 45 vw;
  flex-grow: 0;
}
.lg2__categories {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 40rem) {
  .lg2__category {
    width: 35vw;
  }
}
@media screen and (min-width: 60rem) {
  body {
    display: grid;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "lside lside con con con con con con con con rside rside"
      "foot foot foot foot foot foot foot foot foot foot foot foot";
    grid-template-rows: minmax(10vh, max-content) 1fr minmax(10vh, max-content);
  }
  .lg2__header {
    grid-area: nav;
  }
  .lg2__main {
    grid-area: con;
  }
  .lg2__aside--right {
    grid-area: rside;
  }
  .lg2__footer {
    grid-area: foot;
  }
  .lg2__category {
    width: 25vw;
  }
}
@media screen and (min-width: 96rem) {
  .lg2__category {
    width: 15vw;
  }
}
/*=====  End of usage layout  ======*/
