.lg2__products--grid {
  display: grid;
  grid-template-columns: 90%;
  justify-content: space-evenly;
  row-gap: var(--margin-md);
  column-gap: auto;
}
@media screen and (min-width: 40rem) {
  .lg2__products--grid {
    grid-template-columns: 40% 40%;
  }
}
@media screen and (min-width: 64rem) {
  body {
    display: grid;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "lside  con con con con con con con con con con rside"
      "foot foot foot foot foot foot foot foot foot foot foot foot";
    grid-template-rows: minmax(10vh, max-content) 1fr minmax(10vh, max-content);
    grid-auto-columns: 1fr;
  }
  .lg2__header {
    grid-area: nav;
  }
  .lg2__main {
    grid-area: con;
  }
  .lg2__aside--left {
    width: 100%;
    grid-area: lside;
    height: 100vh;
  }

  .lg2__products--grid {
    grid-template-columns: 31% 31% 31%;
  }
}

@media screen and (min-width: 96rem) {
  .lg2__products--grid {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
/*=====  End of usage layout  ======*/
